<div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="intro">KeePass Chrome</h1>
    </div>
</div>

<div class="row intro">
    <div class="col-xs-4 text-center">
        <a href="#/open/file" ng-click="view = 'file'" title="Open File">
            <i class="fa fa-file-o fa-5x"></i>
            <p>Open File</p>
        </a>
    </div>
    <div class="col-xs-4 text-center">
        <a href="#/open/url" title="Open URL">
            <i class="fa fa-globe fa-5x"></i>
            <p>Open URL</p>
        </a>
    </div>
    <div class="col-xs-4 text-center">
        <a href="#/info" title="About">
            <i class="fa fa-info fa-5x"></i>
            <p>Info</p>
        </a>
    </div>
</div>