<div ng-include="'views/partials/navbar.html'"></div>

<div class="row">
    <div class="col-lg-12">
        <p>
            KeePassChrome was inspired and forked from BrowsePass with a reworked UI and the ability
            to copy passwords to clipboard. <br>
            Big thanks go to Nam Nguyen the author of chrome for implementing the KeePass decryption
            algorithm.
        </p>

        <p>KeePassChrome uses these wonderful Open Source libraries to get it's job done</p>
        <dl>
            <dt>kdbx.js</dt>
            <dd>Copyright 2013 Nam T. Nguyen, Distributed under the GPL license version 2 or later.</dd>
            <dt>salsa20.js</dt>
            <dd>copied from <a href="https://gist.github.com/dchest/4582374">https://gist.github.com/dchest/4582374</a></dd>
            <dt>jdataview.js</dt>
            <dd><a href="http://github.com/jDataView/jDataView">http://github.com/jDataView/jDataView</a>, <a href="http://jDataView.github.io/">http://jDataView.github.io/</a></dd>
            <dt>inflate.js</dt>
            <dd>Copyright (C) 1999,2012 Masanao Izumo, <a href="http://www.onicos.com/staff/iz/amuse/javascript/expert/inflate.txt">http://www.onicos.com/staff/iz/amuse/javascript/expert/inflate.txt</a></dd>
            <dt>Crypto.js</dt>
            <dd>Copyright 2009-2013 by Jeff Mott. <a href="http://code.google.com/p/crypto-js">http://code.google.com/p/crypto-js</a></dd>
        </dl>
    </div>
</div>