<div ng-include="'views/navbar.html'"></div>

<div class="row">
    <div class="col-lg-12">
        <form name="openkeepass">
            <div class="form-group">
                <label for="url">Url</label>
                <input id="url" name="url" type="text" class="form-control" required ng-model="url">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" required ng-model="password" required />
            </div>

            <button class="btn btn-primary btn-lg btn-block" ng-disabled="openkeepass.$invalid" ng-click="openPasswordStore()">
                <span class="fa fa-unlock"></span>
                Open
            </button>
        </form>
    </div>

    <div class="col-lg-12">
        <div style="margin-top: 15px;" class="alert alert-danger" ng-show="openErrorMessage">
            {{openErrorMessage}}
        </div>
    </div>
</div>